<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>jken application</title>
        <meta content="webkit" name="renderer">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
              name="viewport">
        <link href="https://www.layuicdn.com/layui/css/layui.css" media="all" rel="stylesheet">
        <link media="all" rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}">
    </head>
    <body>
        <div class="layui-fluid">
            <fieldset class="layui-elem-field">
                <legend>主菜单</legend>
                <div class="layui-field-box">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" type="button">新增</button>
                    </div>
                    <div id="jk-tree"></div>
                </div>
            </fieldset>
        </div>

        <script src="https://www.layuicdn.com/layui/layui.js"></script>
        <script th:inline="javascript" type="text/javascript">
    var base = /*[[${#httpServletRequest.getContextPath()}]]*/"";
        </script>
        <script>
layui.config({
    base: base + '/static/layuiadmin/'
}).use(['tree'], function () {
    var tree = layui.tree;
    var $ = layui.$;

    var dataToTree = function (data) {
        return $.map(data, function (n, i) {
            return {
                id: n.id,
                title: n.name,
                children: dataToTree(n.children),
                spread: true
            };
        });
    }

    tree.remoteReloadTree = function (id) {
        $.ajax({
            url: base + '/menu',
            dataType: 'json',
            type: 'get',
            success: function (resp) {
                var data = resp.data;
                tree.reload(id, {
                    data: dataToTree(data),
                    text: {
                        defaultNodeName: '新菜单',
                        none: '当前无菜单，请添加'
                    }
                });
            },
            error: function (resp) {
                layer.msg(resp.responseJSON.message, { time: 2000 }, function () { });
            }
        });
    }

    tree.render({
        id: 'jk-tree',
        elem: '#jk-tree',
        showCheckbox: false,
        accordion: false,
        onlyIconControl: true,
        text: {
            defaultNodeName: '新菜单',
            none: '数据加载中...'
        },
        edit: ['add', 'del'],
        click: function (obj) {
            layer.open({
                type: 2,
                title: '编辑菜单',
                content: base + '/menu/' + obj.data.id,
                maxmin: true,
                area: ['550px', '550px'],
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    var submit = layero.find('iframe').contents().find("#jk-form-submit");
                    submit.click();
                }
            });
        },
        operate: function (obj) {
            var type = obj.type; //得到操作类型：add、edit、del
            var data = obj.data; //得到当前节点的数据
            var elem = obj.elem; //得到当前节点元素

            //Ajax 操作
            var id = data.id; //得到节点索引
            if (type === 'add') { //增加节点
                layer.open({
                    type: 2,
                    title: '添加菜单',
                    content: base + '/menu/add?parent=' + id,
                    maxmin: true,
                    area: ['550px', '550px'],
                    btn: ['确定', '取消'],
                    yes: function (index, layero) {
                        var submit = layero.find('iframe').contents().find("#jk-form-submit");
                        submit.click();
                    },
                    btn2: function (index, layero) {
                        return this.cancel(index, layero);
                    },
                    cancel: function (index, layero) {
                        if (confirm('确定要关闭么')) {
                            tree.reload('jk-tree', {});
                            layer.close(index)
                        }
                        return false;
                    }
                });
            } else if (type === 'update') { //修改节点

            } else if (type === 'del') { //删除节点
                $.ajax({
                    url: base + '/menu/' + id,
                    dataType: 'json',
                    type: 'delete',
                    success: function (resp) {
                        if (resp.code == 0) {
                            tree.remoteReloadTree('jk-tree');
                        } else {
                            layer.msg(resp.msg, { time: 2000 }, function () { });
                        }
                    },
                    error: function (resp) {
                        layer.msg(resp.responseJSON.message, { time: 2000 }, function () { });
                    }
                });
            };

            return false;
        }
    });

    tree.remoteReloadTree('jk-tree');
});
        </script>
    </body>
</html>
