<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <title>jken application</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport">
    <link href="https://www.layuicdn.com/layui/css/layui.css" media="all" rel="stylesheet">
    <link media="all" rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}">
  </head>

  <body>
    <div class="layui-fluid">
      <div class="layui-card">

        <div class="layui-card-body">

          <button class="layui-btn" id="jk-create">新增</button>

          <table class="layui-table layui-form" id="jk-treeTable"></table>

        </div>
      </div>
    </div>

    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <script th:inline="javascript" type="text/javascript">
    var base = /*[[${#httpServletRequest.getContextPath()}]]*/"";

    </script>
    <script>
    layui.config({
      base: base + '/static/layuiadmin/'
    }).extend({
      treeTable: 'lib/extend/treeTable' //主入口模块
    }).use(['treeTable', 'layer'], function () {
      var treeTable = layui.treeTable;
      var $ = layui.$;

      treeTable.reload = function () {
        treeTable.render({
          id: "jk-treeTable",
          elem: '#jk-treeTable',
          url: base + '/menu?tree=',
          icon_key: 'name',
          is_checkbox: false,
          cols: [
            {
              key: 'name',
              title: '名称',
              width: '200px',
              align: 'left'
            },
            {
              key: 'iconCls',
              title: '图标样式',
              width: '100px',
              align: 'center'
            },
            {
              key: 'href',
              title: '访问地址',
              align: 'left'
            },
            {
              key: 'sortNo',
              title: '排序号',
              width: '60px',
              align: 'right'
            },
            {
              title: '操作',
              align: 'center',
              width: '140px',
              template: function (item) {
                var btn_add = "<button type='button' class='layui-btn layui-btn-xs tool' data-action='add' data-item='" + item.id + "'>添加下级</button>";
                var btn_edit = "<button type='button' class='layui-btn layui-btn-xs tool' data-action='edit' data-item='" + item.id + "'>编辑</button>";
                var btn_delete = "<button type='button' class='layui-btn layui-btn-xs layui-btn-danger tool' data-action='delete' data-item='" + item.id + "'>删除</button>";

                return "<div class='layui-btn-group'>" + btn_add + btn_edit + btn_delete + "</div>";
              }
            }]
        });
      };
      $("#jk-create").on("click", function () {
        layer.open({
          type: 2,
          title: '添加菜单',
          content: base + '/menu/add',
          maxmin: true,
          area: ['550px', '550px'],
          btn: ['确定', '取消'],
          yes: function (index, layero) {
            var submit = layero.find('iframe').contents().find("#jk-form-submit");
            submit.click();
          }
        });
      });

      treeTable.reload();

      $("#jk-treeTable").delegate(".tool", "click", function () {
        var $this = $(this);
        var action = $this.data("action");
        var id = $this.data("item");
        switch (action) {
          case 'add':
            layer.open({
              type: 2,
              title: '添加菜单',
              content: base + '/menu/add?parent=' + id,
              maxmin: true,
              area: ['550px', '550px'],
              btn: ['确定', '取消'],
              yes: function (index, layero) {
                var submit = layero.find('iframe').contents().find("#jk-form-submit");
                submit.click();
              }
            });
            break;
          case 'edit':
            layer.open({
              type: 2,
              title: '编辑菜单',
              content: base + '/menu/' + id,
              maxmin: true,
              area: ['550px', '550px'],
              btn: ['确定', '取消'],
              yes: function (index, layero) {
                var submit = layero.find('iframe').contents().find("#jk-form-submit");
                submit.click();
              }
            });
            break;
          case 'delete':
            layer.confirm('真的删除么？', function (index) {
              $.ajax({
                url: base + '/menu/' + id,
                dataType: 'json',
                type: 'delete',
                success: function (resp) {
                  if (resp.code == 0) {
                    layer.close(index);
                    treeTable.reload();
                  } else {
                    layer.msg(resp.msg, { time: 2000 }, function () { });
                  }
                },
                error: function (resp) {
                  console.log(resp)
                  layer.msg(resp.responseJSON.message, { time: 2000 }, function () { });
                }
              });
            });
            break;
        }
      });
    });


    </script>
  </body>

</html>